extends ../layout/index.pug

block contenido 
        div(class="div-mayor")
            h1 Mis
                span Imagenes
            h2= pagina 

            div(class="mensaje")
                p Cuenta confirmada correctamente