extends ../layout/index

block contenido 
        div(class="div-mayor")
            h1 Mis
                span Imagenes
            h2= pagina 

            div(class="mensaje2")
                p Mensaje de confirmación de cuenta, enviado a su correo.