div.padre
    p(class="frase-empresa") Mis
        span(class="frase-empresa_2") Imágenes
    div(class="hijo")
        a(href="/mis-imagenes" class="vinculo-inicio hijo_vinculo") Inicio
        a(href="/logout" class="vinculo-sesion hijo_vinculo") Cerrar Sesión

